* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a3c6eb;
}

.form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 4px 1px #0000007d;
    border-radius: 8px;
    padding: 1.5rem;
    width: 25%;
    background-color: #8254d8;
    color: white;
}

.input {
    
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
    outline: none;
    border-radius: 4px;
    border: none;
    margin-bottom: 0.7rem;
}

h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #f845c2, #a39d7d);
    border-radius: 20px;
}

.btn {
    width: 90%;
    border: none;
    background: none;
    box-shadow: 0 0 3px #000;
    padding: 0.3rem;
    border-radius: 8px;
    margin: 0.5rem auto;
    color: white;
    background-image: linear-gradient(to right, #458df8, #d0f0af);
    opacity: 0.8;
}
.btn:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #f845c2, #a39d7d);
}

.msg {
    color: white;
    text-align: center;
    font-size: 20px;
}